/* Make base font-size 62.5% so that 1rem is 10px */
html {
    font-size: 62.5%;
}

body {
    font-size: 1.75rem;
    line-height: 1.5;
    background-color: #fde6ff;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: .625rem;
    line-height: 1.1;
}

p {
    font-size: 1.4rem;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1rem 0 2rem 3rem;
    background-color: white; 
    min-height: 100%;
    border-radius: 8pt 0 0 8pt;
   /* outline-style: dotted;
    outline-color: rgb(230, 146, 240);
    outline-width: .4rem;*/
}

header h1{
    padding: 10rem 2rem .3rem;
    font-size: 5rem;
}

nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 2rem .3rem;
    font-size: 2rem;
    margin: .3rem 0;
}

header nav a {
    background-color: rgb(194, 149, 208);
    margin: .5rem;
    padding: .5rem;
    text-align: center;
    border-radius: 6pt;
}

a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {text-decoration: underline;}
a:active {text-decoration: underline; color: #fde6ff;}

/* Main section */
/* Make it so that the "About Me" title sits above the about me body when the screen gets smaller. */
.with-pic {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.about-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1rem 1rem 2rem 0;
    background-color: white;
    min-height: 100%;
    border-radius: 0 8pt 8pt 0;
    max-width: 70%;
    min-width: 65%;
    transition: flex-direction .5s ease-in-out;
   /* outline-style: dotted;
    outline-color: rgb(230, 146, 240);
    outline-width: .4rem */
}

.about-me h2 {
    display: flex;
    flex-wrap: wrap;
    font-size: 3rem;
    padding: 1rem 2rem 1rem 1rem;
}

.about-body {
    min-height: 20rem;
    padding: 1rem 1rem .5rem 2rem;
    background-color:rgb(194, 149, 208);
    border-radius: 0 8pt 8pt 0;
    margin: 2rem 1rem 2rem 0;
    min-width: 70%;
    opacity: 1.0;
}

/* figure */

.indigo {
    display: flex;
    flex-direction: row;
    margin-left: 7rem;
}

.profile-pic {
    display: flex;
    align-self: flex-end;
    border-radius: 50%;
    width: 27rem;
    height: 27rem;
    margin: 1rem;
    flex-shrink: 1;
}
/*
.about-body:hover{
    opacity: 1.0;
} 
Kind of fun... not sure yet lol. */

.my-work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1rem 0 3rem 6rem;
    background-color: white;
    border-radius: 8pt 0 0 8pt;
    /* outline-style: dotted;
    outline-color: rgb(230, 146, 240);
    outline-width: .4rem;*/
}

.my-work h2 {
    font-size: 3rem;
    padding: 1rem 1rem 1rem 2rem;
}

.my-work p {
    padding: 0 1rem 2rem 2rem;
}

/* .work-head */

.applications {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 1rem;
}

.applications div {
    background-color:rgb(194, 149, 208);
    margin: 1.5rem;
    min-width: 40%;
}

.first-app {
    flex: 0 0 83%;
}

.second-app {
    flex: 0 0 20%;
}

.third-app {
    flex: 0 0 20%;
}

.fourth-app {
    flex: 0 0 20%;
}


/* Footer. Check out https://www.web-eau.net/blog/10-best-footer-html-css-snippets for a good footer idea! */
footer .contact {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.contact h2 {
    display: flex;
    font-size: 3rem;
    padding: 4rem 3rem 4rem 3rem;
    margin: .4rem 1rem 4rem 1rem;
    background-color: white;
    border-radius: 8pt;
}

/* I do want to get the underline off of the gmail until hover. And I want this centered. */
.email {
    display: flex;
    padding: 4rem 3rem 4rem 3rem;
    margin: .4rem 1rem 4rem 1rem;
    background-color: white;
    border-radius: 8pt;
}

.email a {
    font-size: 1.8rem;
    color: black;
}

.social {
    display: flex;
    flex-direction: row;
    padding: 4rem 3rem 4rem 3rem;
    margin: .4rem 1rem 4rem 1rem;
    border-radius: 8pt;
    justify-content: space-evenly;
    align-items: center;
}

.social a {
    max-width: 30%;
    margin: .5rem;
    display: flex;
}


/* When the screen is 973px or less, the image falls under the about me section */
@media screen and (max-width: 973px) {
   
    .about-me h2 {
        order: 1;
    } 

    .about-body {
        order: 2;
    }

    .about-me {
        flex-direction: column;
    }

    .with-pic {
        flex-direction: column;
    }

}

/* When the screen is 768px or less, the navigation links fall under the title */
@media screen and (max-width: 768px) {
    header {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}

