/* Variables housed here! */
:root {
    --main-purple: rgb(214, 181, 225);
    --outline: white;
    --b-radius: 8pt;
    --b-width: .5rem;
    --fn-size: 3rem;
    --pink: #fde6ff;
    --b-style: solid;
    --fn-color: black;
    --shadow-color: rgb(164, 135, 173);
}


/* Make base font-size 62.5% so that 1rem is 10px */
html {
    font-size: 62.5%;
}

body {
    font-size: 1.75rem;
    line-height: 1.5;
    background-color: var(--pink);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: .625rem;
    line-height: 1.1;
}

p {
    font-size: 1.4rem;
}


/* Header section. Includes title and navigation buttons. */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1rem 0 2rem 3rem;
    border-style: var(--b-style);
    border-color: var(--outline);
    border-width: var(--b-width); 
    border-right: none;
    min-height: 100%;
    border-radius: var(--b-radius) 0 0 var(--b-radius);
}

header h1{
    padding: 10rem 2rem .3rem;
    font-size: 5rem;
}

nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 2rem .3rem;
    font-size: 2rem;
    margin: .3rem 0;
}

header nav a {
    background-color: var(--main-purple);
    margin: .5rem;
    padding: .5rem;
    text-align: center;
    border-radius: 6pt;
    color: var(--fn-color);
}

/* Pseudo classes for navigation links */ 
.nav-button a:link {
    text-decoration: none;
}
.nav-button a:visited {
    text-decoration: none;
}
.nav-button a:hover {
    box-shadow: 5pt 4pt var(--shadow-color);
}
.nav-button a:active {
    box-shadow: 5pt 4pt var(--shadow-color);
    background-color: var(--pink);
}


/* Main section */
.with-pic {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.about-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1rem 1rem 2rem 0;
    border-style: var(--b-style);
    border-color: var(--outline);
    border-width: var(--b-width);
    border-left: none;
    min-height: 100%;
    border-radius: 0 var(--b-radius) var(--b-radius) 0;
    max-width: 70%;
    min-width: 65%;
    transition: flex-direction .5s ease-in-out;
}

.about-me h2 {
    display: flex;
    flex-wrap: wrap;
    font-size: var(--fn-size);
    padding: 1rem 2rem 1rem 1rem;
}

.about-body {
    min-height: 20rem;
    padding: 1rem 1rem .5rem 2rem;
    background-color: var(--main-purple);
    border-radius: 0 var(--b-radius) var(--b-radius) 0;
    margin: 2rem 1rem 2rem 0;
    min-width: 70%;
    opacity: 1.0;
}

/* figure */
.indigo {
    display: flex;
    flex-direction: row;
    margin-left: 3rem;
    margin-bottom: .5rem;
}

.profile-pic {
    display: flex;
    align-self: flex-end;
    border-radius: 50%;
    width: 27rem;
    height: 27rem;
    margin: 1rem;
    flex-shrink: 1;
    outline-offset: .8rem;
    outline-style: var(--b-style);
    outline-color: var(--outline);
    outline-width: var(--b-width);
}
/*
.about-body:hover{
    opacity: 1.0;
} 
Kind of fun... not sure yet lol. */

.my-work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    margin: 1rem 0 3rem 6rem;
    border-style: var(--b-style);
    border-color: var(--outline);
    border-width: var(--b-width);
    border-radius: var(--b-radius) 0 0 var(--b-radius);
    border-right: none;
}

.my-work h2 {
    font-size: var(--fn-size);
    padding: 1rem 1rem 1rem 2rem;
}

.my-work p {
    padding: 0 1rem 2rem 2rem;
}

.work-head {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.applications {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 1rem;
    max-width: 78.5%;
    min-width: 60%;
    justify-content: space-evenly;
}

.applications div {
    background-color:var(--main-purple);
    margin: 1.5rem;
    min-width: 34%;
    border-radius: var(--b-radius);
}


/*pseudo classes for applications */
.applications div:hover {
    box-shadow: 8pt 6pt var(--shadow-color);
}

.applications div:active {
    opacity: 60%;
    box-shadow: 8pt 6pt var(--shadow-color);
}

.applications img {
    border-radius: var(--b-radius) var(--b-radius) 0 0;
}

.first-app {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    max-width: 80%;
    flex-grow: 2;
}

.first-img {
    width:100%;
    border-color: var(--main-purple);
    object-fit: contain;
}

.second-app {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    max-width: 30%;
}

.second-img {
    width: 100%;
    object-fit: contain;
}

.third-app {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    max-width: 30%;
}

.third-img {
    width: 100%;
    object-fit: contain;
}

.fourth-app {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    max-width: 30%;
}

.fourth-img {
    width: 100%;
    object-fit: contain;
}

.fifth-app {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    max-width: 30%;
}

.fifth-img {
    width: 100%;
    object-fit: contain;
}

/* Footer. Check out https://www.web-eau.net/blog/10-best-footer-html-css-snippets for a good footer idea! */
footer .contact {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.contact h2 {
    display: flex;
    font-size: var(--fn-size);
    padding: 4rem 3rem 4rem 3rem;
    margin: .4rem 1rem 4rem 1rem;
    border-style: var(--b-style);
    border-color: var(--outline);
    border-width: var(--b-width);
    border-radius: var(--b-radius);
}

/* I do want to get the underline off of the gmail until hover. And I want this centered. */
.email {
    display: flex;
    padding: 4rem 3rem 4rem 3rem;
    margin: .4rem 1rem 4rem 1rem;
    border-style: var(--b-style);
    border-color: var(--outline);
    border-width: var(--b-width);
    border-radius: var(--b-radius);
}

.email a {
    font-size: 1.8rem;
    color: var(--fn-color);
    text-decoration: none;
}

.social {
    display: flex;
    flex-direction: row;
    padding: 4rem 3rem 4rem 3rem;
    margin: .4rem 1rem 4rem 1rem;
    justify-content: space-evenly;
    align-items: center;
    /*border-radius: var(--b-radius);*/
}

.social a {
    max-width: 30%;
    margin: .5rem;
    display: flex;
}


/* When the screen is 973px or less, the image falls under the about me section */
@media screen and (max-width: 973px) {
   
    .about-me h2 {
        order: 1;
    } 

    .about-body {
        order: 2;
    }

    .about-me {
        flex-direction: column;
    }

    .with-pic {
        flex-direction: column;
    }

}

/* When the screen is 768px or less, the navigation links fall under the title */
@media screen and (max-width: 768px) {
    header {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}

