/* Variables housed here! */
:root {
    --main-purple: rgb(214, 181, 225);
    --outline: white;
    --b-radius: 8pt;
    --b-width: .5rem;
    --fn-size: 3rem;
    --pink: #fde6ff;
    --b-style: solid;
    --fn-color: rgb(25, 25, 25);
    --shadow-color: rgb(164, 135, 173);
    --app-fn-size: 2.2rem;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.75rem;
    line-height: 1.5;
    background-color: var(--pink);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--fn-color)
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: .625rem;
    line-height: 1.1;
}

p {
    font-size: 1.4rem;
}


/* Header section. Includes title and navigation buttons. */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1rem 0 2rem 3rem;
    border-style: var(--b-style);
    border-color: var(--outline);
    border-width: var(--b-width); 
    border-right: none;
    min-height: 100%;
    border-radius: var(--b-radius) 0 0 var(--b-radius);
}

header h1{
    padding: 10rem 2rem .3rem;
    font-size: 5rem;
}

header h2 {
    padding: .5rem 2rem .5rem;
    font-size: var(--fn-size);
}

/* Navigation buttons */
nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 2rem .3rem;
    font-size: 2rem;
    margin: .3rem 0;
}

header nav a {
    background-color: var(--main-purple);
    margin: .5rem;
    padding: .5rem;
    text-align: center;
    border-radius: 6pt;
    color: var(--fn-color);
}

/* Pseudo classes for navigation buttons */ 
.nav-button a:link {
    text-decoration: none;
}
.nav-button a:visited {
    text-decoration: none;
}
.nav-button a:hover {
    box-shadow: 5pt 4pt var(--shadow-color);
}
.nav-button a:active {
    box-shadow: 5pt 4pt var(--shadow-color);
    background-color: var(--pink);
}


/* Main section */

/* About Me section. Includes text and profile photo. */
.with-pic {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.about-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1rem 1rem 2rem 0;
    border-style: var(--b-style);
    border-color: var(--outline);
    border-width: var(--b-width);
    border-left: none;
    min-height: 100%;
    border-radius: 0 var(--b-radius) var(--b-radius) 0;
    max-width: 70%;
    min-width: 65%;
    transition: flex-direction .5s ease-in-out;
}

.about-me h2 {
    display: flex;
    flex-wrap: wrap;
    font-size: var(--fn-size);
    padding: 1rem 2rem 1rem 1rem;
}

.about-body {
    display: flex;
    flex-wrap: wrap;
    min-height: 20rem;
    max-width: 520px;
    padding: 1.2rem 1.2rem 1rem 2rem;
    background-color: var(--main-purple);
    border-radius: 0 var(--b-radius) var(--b-radius) 0;
    margin: 2rem 1rem 2rem 0;
    min-width: 70%;
    opacity: 1.0;

}

/* Profile Photo */
.indigo {
    display: flex;
    flex-direction: row;
    margin: 1.5rem 2rem 2.5rem 3rem;
}

.profile-pic {
    display: flex;
    align-self: flex-end;
    border-radius: 50%;
    max-width: 24rem;
    outline-offset: .8rem;
    outline-style: var(--b-style);
    outline-color: var(--outline);
    outline-width: var(--b-width);
}

/* My Work section. Includes all applications. */
.my-work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    margin: 1rem 0 3rem 6rem;
    border-style: var(--b-style);
    border-color: var(--outline);
    border-width: var(--b-width);
    border-radius: var(--b-radius) 0 0 var(--b-radius);
    border-right: none;
}

.my-work h2 {
    font-size: var(--fn-size);
    padding: 1rem 1rem 1rem 2rem;
}

.my-work p {
    padding: 0 1rem 2rem 2rem;
}

.work-head {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


/* Applications 1-5 */
.applications {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 1rem;
    max-width: 78.5%;
    min-width: 60%;
    justify-content: space-evenly;
}

.applications section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color:var(--main-purple);
    margin: 1.5rem;
    min-width: 34%;
    border-radius: var(--b-radius);
}

.applications img {
    border-radius: var(--b-radius) var(--b-radius) 0 0;
}

.applications section p {
    font-size: var(--app-fn-size);
    font-weight: bold;
    text-align: center;
}

/* 1 */
.first-app {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    max-width: 80%;
    flex-grow: 2;
}

.first-img {
    width:100%;
    border-color: var(--main-purple);
    object-fit: contain;
}

/* 2 */
.second-app {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    max-width: 30%;
}

.second-img {
    width: 100%;
    object-fit: contain;
}

/* 3 */
.third-app {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    max-width: 30%;
}

.third-img {
    width: 100%;
    object-fit: contain;
}

/* 4 */
.fourth-app {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    max-width: 30%;
}

.fourth-img {
    width: 100%;
    object-fit: contain;
}

/* 5 */
.fifth-app {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    max-width: 30%;
}

.fifth-img {
    width: 100%;
    object-fit: contain;
}

/* Pseudo classes for applications */
.applications section:hover {
    box-shadow: 8pt 6pt var(--shadow-color);
}
.applications section:active {
    opacity: 60%;
    box-shadow: 8pt 6pt var(--shadow-color);
}


/* Footer section. Icludes all contact information and credit for images. */
footer {
    padding: 4rem;
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.contact h2 {
    display: flex;
    font-size: var(--fn-size);
    padding: 4rem 3rem 4rem 3rem;
    margin: .4rem 1rem 4rem 1rem;
    border-style: var(--b-style);
    border-color: var(--outline);
    border-width: var(--b-width);
    border-radius: var(--b-radius);
}

/* Email */
.email {
    display: flex;
    padding: 4rem 3rem 4rem 3rem;
    margin: .4rem 1rem 4rem 1rem;
    border-style: var(--b-style);
    border-color: var(--outline);
    border-width: var(--b-width);
    border-radius: var(--b-radius);
}

.email a {
    font-size: 1.8rem;
    color: var(--fn-color);
    text-decoration: none;
}

.email:hover {
    text-decoration: underline;
}

/* Social Media */
.social {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.social a {
    max-width: 30%;
    margin: .5rem;
    display: flex;
}

/* Credit for photos and icons */
.credit {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: .3rem;
}


/* Media Queries */

@media screen and (max-width: 1020px) {
    .about-me h2 {
        order: 1;
    } 
    .about-body {
        order: 2;
    }
    .about-me {
        flex-direction: column;
    }
    .with-pic {
        flex-direction: column;
    }
    .profile-pic {
        position: relative;
        left: 40%;
        width: 20rem;
     }
}
/* When the screen is 973px or less, the image falls under the about me section. */


/* When the screen is 768px or less, the navigation links fall under the title */
@media screen and (max-width: 768px) {
    header {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    header section {
        text-align: center;
    }

    .applications section p {
        font-size: 1rem;
        font-weight: bold;
        text-align: center;
    }
}

/* When the screen is 464px or less... Everything adjusts so that the text fits.*/
@media screen and (max-width: 464px) {
    .applications {
        justify-content: space-around;
    }

    .applications img {
        border-radius: var(--b-radius);
    }

    .applications section p {
        font-size: .75rem;
    }
}